@import "../../../assets/styles/scss/variables";

#form-contact {
  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .message-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 70%;
    background-color: $color-bg-secondary;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .name-user-form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name-user-form label {
        font-weight: bold;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      background-color: $color-bg-primary;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    textarea {
      min-height: 100px;
    }

    button[type="submit"] {
      padding: 10px;
      background-color: $color-bg-primary;
      color: $color-text;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: darken($color-text, 10%);
      color: $color-bg-primary;
    }

  }

  // Media Queries pour ipad
  @media (min-width: 768px) {
    .message-form {
      max-width: 60%;
      margin: 20px auto;
    }
  }

  // Media Queries pour desktop
  @media (min-width: 1024px) {
    .message-form {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}
