@import "../../../assets/styles/scss/variables";

// Variables A MODIFIER
$primary-color: #3498db;


#form-contact {

  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  // Form Styles
  .message-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    margin: 0 auto;
    background-color: $color-bg-secondary;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .name-user-form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name-user-form label {
        font-weight: bold;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      background-color: $color-bg-primary;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.3rem;
    }

    textarea {
      min-height: 100px;
    }

    button[type="submit"] {
      padding: 10px;
      background-color: $color-bg-primary;
      color: $color-text;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: darken($color-text, 10%);
      color: $color-bg-primary;
    }

  }
}

// Media Queries for ipad
@media (min-width: 768px) {
  .message-form {
    max-width: 500px;
  }

  .name-user-form {
    flex-direction: row;
    gap: 20px;
  }

  input,
  textarea {
    font-size: 1.1rem;
  }

  button[type="submit"] {
    font-size: 1.3rem;
  }
}

// Media Queries for desktop
@media (min-width: 1024px) {
  main {
    padding: 40px;
  }

  h1 {
    font-size: 2rem;
  }

  .message-form {
    max-width: 600px;
  }

  input,
  textarea {
    font-size: 1.2rem;
  }

  button[type="submit"] {
    font-size: 1.4rem;
  }
}
