@import "../../../assets/styles/scss/variables";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-secondary;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 1rem;

  nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;

    .container-header-logo {
      display: flex;
      justify-content: center;
      width: 100%;

      .header-logo {
        max-width: 100px;
      }
    }

    .nav-icons {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .nav-menu {
    background-color: #fbf9f1db;
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .nav-link {
      padding: 0.5rem 1rem;
      background-color: $color-bg-secondary;
      border-left: #333 solid 1px;
      border-right: #333 solid 1px;
      text-decoration: none;
      color: #333;
      transition: background-color 0.3s ease;
      text-align: center;
      white-space: nowrap;

      &:hover {
        background-color: $color-secondary;
      }
    }

    .categories {
      .category-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .category-item {
          flex: 1;
        }
      }
    }

    .link-contact, .btn-deconnexion {
      padding: 0.5rem 2.2rem;
      background-color: $color-bg-secondary;
      border-left: #333 solid 1px;
      border-right: #333 solid 1px;
      margin-bottom: 2rem;
    }

    .btn-faxmark {
      align-self: flex-end;
      cursor: pointer;
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
}
