@import "../../../assets/styles/scss/variables";

header {
  // border: solid 2px purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-secondary;

  nav {
    // border: solid 2px green;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;

    .container-header-logo {
      display: flex;
      justify-content: center;
      width: 100%;

      .header-logo {
        max-width: 100px;
      }
    }

    .nav-icons {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .nav-menu {
    border: solid 1px gray;
    background-color: $color-bg-primary;
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    button, a {
      padding: 1.6rem 0.4rem;
    }

    .btn-faxmark {
      align-self: flex-end;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }

  .search-form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;

    .search-container {
      position: relative;
      width: 100%;

      .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $color-text;
      }

      input {
        width: 100%;
        text-align: left;
        padding: 0.5rem 0.5rem 0.5rem 3rem;
        border-radius: 0.7rem;
        background-color: $color-bg-primary;
      }
    }
  }
}
