@import "../../../assets/styles/scss/variables";

footer {
  background-color: $color-bg-secondary;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .footer-logo {
    max-width: 150px;
    margin-bottom: 15px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .footer-links a {
    color: $color-text;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  a:hover {
    color: darken($color-secondary, 10%);
  }

  span {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-secondary;
  }
}
