@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');


$color-text: #3D3B40;
$color-secondary: #D2691E;
$color-edit: #B0E0E6;
$color-bg-primary: #FBF9F1;
$color-bg-secondary: #9C9C6E;

$delete-button-color: #e74c3c;

$table-border-color: #ddd;


// FONT-FAMILY
$font-family-title: "Gupter", serif;
