@import "./variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $color-text;
  background-color: $color-bg-primary;
  font-family: $font-family-title;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $color-text;
}

button {
  background: none;
  border: none;
  color: $color-text;
}

input {
  border: none;

  &::placeholder {
    color: $color-text;
  }
}
