@import "../../../../assets/styles/scss/variables";

#product-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #555;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #777;
  }

  .product-image {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444;
  }

  p.price {
    font-size: 1.75rem;
    font-weight: bold;
    color: #e67e22;
    margin-bottom: 30px;
  }

  .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .product-info {
    flex: 1;
    padding: 0 20px;

    .description {
      margin-top: 10px;
      font-size: 1.125rem;
      color: #666;
    }
  }

  .purchase-options {
    flex: 1;
    padding: 0 20px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    .quantity {
      display: inline-block;
      margin-bottom: 20px;

      label {
        font-size: 1rem;
        margin-right: 10px;
      }

      input {
        width: 50px;
        padding: 5px;
        font-size: 1rem;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    .add-to-cart {
      background-color: #e67e22;
      color: #fff;
      padding: 15px 30px;
      font-size: 1.25rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d35400;
      }
    }
  }
}
